<div>


    <div class="display-3">
@foreach (Employee emp in Model)
{

    <div class="lead my-2">
        <h6>@emp.FullName</h6>
        <p>@emp.Id</p>
        <p>@emp.Age</p>
        <hr/>


              
    </div>

}


    </div>
</div>