@model String[]
<div>

    merhaba 4
    <div class="lead">
        @foreach (var name in Model){

            <p>
                @name // verileri bu şekil listeleyebiliriz
            </p>
        }
        
    </div>
</div>